@model LoginModel

<div class="text-center">
    <form asp-action="LoginProcess" asp-asp-controller="Sample" method="post">
        <div>
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" />
        </div>
        <div>
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="Password" />
        </div>
        <button class="btn-primary">Submit</button>
    </form>
</div>