@model RegistrationModel

@{
    ViewBag.Title = "Registration";
    Layout = "_Layout";
}

<h1>Registration</h1>
<div>
    <form asp-action="Registration" asp-controller="Sample" method="post">
        <div>
           <label asp-for="Email">Email</label>
           <input asp-for="Email" type="mail" />
           <span asp-validation-for="Email"> </span>
        </div>
        <div>
           <label asp-for="Password">Password</label>
           <input asp-for="Password" type="password" />
           <span asp-validation-for="Password"> </span>
        </div>
        <div>
           <label asp-for="PasswordConfirmation">Password confirmation</label>
           <input asp-for="PasswordConfirmation" type="password" />
           <span asp-validation-for="PasswordConfirmation"> </span>
        </div>
        <input type="Submit" value="Submit" />
    </form>
</div>