@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    @DateTime.Now.ToString("f");
</p>
<div style="color:red;" >
    @DateTime.Now.ToString("f");
</div>

<div class="text-center">
    
    <button class="text-center" style="color:yellow; background-color:blueviolet" onclick="location.href='@Url.Action("ShowText", "Show")'">ControllerY</button>
    <a asp-controller="Articles" asp-action="index">Articles=></a>
</div>


