@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="cardGeneral shadow-lg text-center m-5">

    <div class="card text-center mb-5" style="font-size:26px">
        @ViewData["Title"]
    </div>

    <p class=" text-center mt-5" style="font-size:20px">My app doesn't collect and send personal data to 3rd person</p>
</div>
