@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка";
}


<div class="card mx-auto d-flex justify-content-center">
    <p>
        <h1 class=" mx-auto ">Ошибка @Model.StatusCode</h1>
    </p>

    @*   @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    } *@

    <p>
    <div class="mx-auto text-center">
        <h2>
                @Html.Raw(@Model.ErrorMessage)
        </h2>
    </div>
    </p>

    <a class="mx-auto btn  btn400" asp-action="Index" asp-controller="Home">На главную</a>

</div>
