@model AddArticleModel

@{
    ViewBag.Title = "Add Article";
    Layout = "_Layout";
}

<h2>Add Article</h2>

<form asp-action="AddArticleProcessing" asp-controller="Articles" method="post">
    <div>
        <label asp-for="Title">Title</label>
        <input asp-for="Title" type="text" required />
    </div>
    <div>
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" required></textarea>
    </div>
    <div>
        <label asp-for="Rate">Rate</label>
        <input asp-for="Rate" type="number" />
    </div>
    <input type="submit" text="Submit" />
</form>
