@{
    ViewBag.Title = "Агрегация новостей";
    Layout = "_Layout";
}

<h2>Aggregate</h2>

<form asp-action="AggregateProcessing" asp-controller="Articles" method="post">
   <div class="alert alert-warning" role="alert">
       Сбор новостей займет некоторое время...
   </div>
    <input class="btn btn400" type="submit" value="Агрегировать" />
</form>

<form asp-action="Rate" asp-controller="Articles" method="post">
   <div class="alert alert-warning" role="alert">
       Оценка происходит долго!
   </div>
    <input class="btn btn400 " type="submit" value="Оценить" />
</form>