@model ArticleModel

@{
    ViewBag.Title = "Article";
    Layout = "_Layout";
}

<h2>@Model.Title</h2>
<span>@Model.CreationDate</span>
<h6>@Model.Rate</h6>
<div>
    <p>@Model.Description</p>

</div>