html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top:80px;
    margin-bottom: 60px;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    display: block;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: darkmagenta;
}

.highlighted {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #fce3cc;
    text-align: center;
    color: midnightblue;
    font-weight: bold;
}

.card {
    background-color: #fce3cc;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
}

.btn400 {
    background-color: #5a67d8;
    border-color: #5a67d8;
    color: #fff;
}

    .btn400:hover {
        background-color: #4c51bf;
        border-color: #4c51bf;
        color: #fff;
    }

header {
    border: 5px solid #fce3cc; /* Бежевый цвет для окантовки */
    border-radius: 10px; /* Скругление углов */
    margin: 2px 5px 5px 5px; /* Отступ от краёв экрана */
    background-color: #fff; /* Белый фон */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Легкая тень для объема */
}
