html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 80px;
    margin-bottom: 60px;
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    display: block;
}

.active-link {
    font-weight: bold;
    text-decoration: underline;
    color: darkmagenta;
}

.highlighted {
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #fce3cc;
    text-align: center;
    color: midnightblue;
    font-weight: bold;
}

.card {
    background-color: #fce3cc;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #333;
    margin-top: 10px;
}

.cardGeneral {
    background-color: #faeedd;
    padding: 10px;
    font-size: 18px;
    /*font-weight: bold;
    */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*color: #333;*/
    margin-top: 20px;
}

.btn400 {
    background-color: #5a67d8;
    border-color: #5a67d8;
    color: #fff;
    margin: 5px;
    gap: 15px;
}

    .btn400:hover {
        background-color: #4c51bf;
        border-color: #4c51bf;
        color: #fff;
    }

header {
    border: 5px solid #fce3cc;
    border-radius: 10px;
    margin: 2px 5px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-error {
    display: block;
    height: 22px;
    color: red;
    margin: 0;
    font-size: 18px;
}

.readonly-input {
    border: none;
    background: transparent;
    cursor: default;
}

